<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>Untitled</title>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js">
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
3

        <script href="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    </head>
    <body>
        <table id="example"></table>
Z

        <script>
         $(document).ready(function() {
             $('#example').DataTable({

                 columns: [
                     { title: "Id" },
                     { title: "IP" },
                     { title: "password"},
                     { title: "so" }
                 ]
             });
         } );
        </script>
        <script>
         getsht()
         var interval = window.setInterval(() => {
             getsht()
             console.log("reload")
         }, 10000)
         function getsht() {
             a = []
             fetch("http://localhost:8000/getInfo", {
                 method: 'GET',
                 headers: { Accept: 'application/json' }
             }).then( response => response.json() )
               .then( response => response.map( i => {
                   return [ i.Id, i.password, i.IP, i.so]
               } ) )
               .then( data => {
                   a = data
                   $('#example').dataTable( {
                       destroy: true,
                       data: data,
                       columns: [
                           { title: "Id" },
                           { title: "IP" },
                           { title: "password"},
                           { title: "so" }
                       ]
                   })
               })
         }

        </script>


    </body>
</html>
